{% load static %}
<!doctype html>

<html lang="en">
    <meta name="title" content="Dropping Gems NFT">
    <meta name="author" content="Dropping Gems NFT">
    <meta name="description" content="A Dynamic NFT that changes as you tweet">
    <meta name="keywords" content="ethereum, NFT, dynamic, generative" />
    <link rel="canonical" href="www.gemsNFT.co">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.gemsNFT.co">
    <meta property="og:title" content="Dropping Gems NFT">
    <meta property="og:description" content="A Dynamic NFT that changes as you tweet">
    <meta property="og:image" content="www.gemsNFT.co">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="www.gemsNFT.co">
    <meta property="twitter:title" content="DroppingGems NFT">
    <meta property="twitter:description" content="A Dynamic NFT that changes as you tweet">
    <meta property="twitter:image" content="{% static 'images/dropping-gems.png' %}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/gem-small.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/gem-small.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/gem-small.png' %}">
  
  
  
      <!-- META -->
      <meta charset="utf-8">
      <meta name="robots" content="noodp">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      
      
      <!-- PAGE TITLE -->
      <title>About Us</title>
      
      
            <!-- FAVICON -->
			<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
      
      
			<!-- GOOGLE FONTS -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:300,400" rel="stylesheet">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	   
			<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
			
			
			<!-- STYLESHEETS -->
			<link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/hero.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
			  
				  
            
  </head>
  
  
  <body>
  
  
  
	  <!-- MAIN -->
      <div id="main">
		    
             
             
          <!-- LOADING -->
		  <div id="page-loader">
		  
			  <!-- SPINNER CONTAINER -->
			  <div class="spinner-container">

				  <div class="css-spinner"></div>

			  </div>
			  <!-- /SPINNER CONTAINER -->
	  
		  </div>
		  <!-- /LOADING -->
              
              
              
		  <!-- HERO -->
		  <section id="hero" class="hero error-404">
            
     

			  <!-- FRONT CONTENT -->
			  <div class="front-content page-enter-animated">
				

				  <!-- CONTAINER MID -->
				  <div class="container-mid">
					<a href="{% url 'homepage' %}"><button type="button" class="btn btn-primary absolute top-0 left-0 pt-3">Back to Home</button></a>
				
			

                    <div class="relative py-16 overflow-hidden">
                      
                        <div class="relative px-4 sm:px-6 lg:px-8">
							<h2>About Us</h2>
							<br>
						<!-- This example requires Tailwind CSS v2.0+ -->
                        <div class="bg-transparent">
                            <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
                            <div class="lg:grid lg:grid-cols-3 lg:gap-8">
                                <div>
                                <h2 class="text-3xl font-extrabold text-blue">About Dropping Gems</h2>
                                </div>
                                <div class="mt-12 lg:mt-0 lg:col-span-2">
                                <dl class="space-y-12">
                                    <div>
                                    <dt class="text-1x leading-6 text-left text-white"><h4>Which Blockchain?</h4></dt>
                                    <dd class="mt-2 text-1x text-left text-base text-white"><h6>The gems are dropped on ethereum. Contract will be available on Mint Day</h6></dd>
                                    </div>
                                    <div>
                                    <dt class="text-1x leading-6 text-left text-white"><h4>Details on the Mint?</h4></dt>
                                    <dd class="mt-2 text-1x text-left text-base text-white"><h6>Mint will be open to the public at 12:00 est. 2000 gems will be dropped at .025 ETH each</h6></dd>
                                    </div>
                                    <div>
                                    <dt class="text-1x leading-6 text-left text-white"><h4>Our Timelime</h4></dt>
                                    <dd class="mt-2 text-1x text-left text-base text-white"><h6>This is the first NFT project launched from NanuPanda Labs. NanuPanda is an awesome diverse team of experienced artist, developers and community builders. We are dedicated  to building crypto projects that are sustainable, innovative and unique. The proceeds collected from the Gems mint will go to build these future projects. Our early supporters here will be given discounted access and other perks for the future projects we build. <br><br>The Gems are just the beginning and we would love for you to join us on this amazing journey.</h6> <a href="https://discord.gg/bkDuKzZU9B">Learn more in our discord</a></dd>
                                    
           
                                    
                                </div>
                        
                                    <!-- More questions... -->
                                </dl>
                                </div>
                            </div>
                            </div>
                        </div>
					<!-- This example requires Tailwind CSS v2.0+ -->
                        <div class="bg-transparent">
                            <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
                            <div class="space-y-12">
                                <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
                                <h2 class="text-3xl font-extrabold text-white tracking-tight sm:text-4xl">Meet our team</h2>
                                </div>
                                <ul role="list" class="space-y-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:grid-cols-3 lg:gap-8">

                                {% for person in example_gems %}
                                <li class="py-10 px-6 bg-black text-center rounded-lg xl:px-10 xl:text-left">
                                    <div class="space-y-6 xl:space-y-10">
                                    <img class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56" src="{{person.2|safe}}" alt="">
                                    <div class="space-y-2 xl:flex xl:items-center xl:justify-between">
                                        <div class="font-medium text-lg leading-6 space-y-1">
                                        <h3 class="text-white text-center">{{person.0}}</h3>
                                        <p class="text-indigo-400">{{person.1}}</p>
                                        </div>
                        
                                   
                                    </div>
                                    </div>
                                </li>
                              {% endfor %}
                              
                             
                             
                        
                                <!-- More people... -->
                                </ul>
                            </div>
                            </div>
                        </div>
                        </div>
                      </div>
			  
				  </div>
				  <!-- /CONTAINER MID -->


			  </div>
			  <!-- /FRONT CONTENT -->


			  <!-- BACKGROUND CONTENT -->
			  <div class="background-content page-enter-animated">


				  <!-- LEVEL 1 -->
				  <div class="level-1">

				  
					  <div class="bg-overlay"></div>
					  <div class="bg-pattern"></div>
					  <div id="canvas"><canvas class="bg-effect layer" data-depth="0.2"></canvas></div>

			  
				  </div>
				  <!-- /LEVEL 1 -->


				  <!-- LEVEL 2 -->
				  <div class="level-2">

				  
					  <div class="bg-image layer" data-depth="0.04"></div>
					  <div class="bg-video layer" data-depth="0.04"></div>
					  <div class="bg-color layer" data-depth="0.04"></div>

			  
				  </div>
				  <!-- /LEVEL 2 -->


			  </div>
			  <!-- /BACKGROUND CONTENT -->


		  </section>
		  <!-- /HERO -->
          
          
      </div>
      <!-- MAIN -->
      
      
        
     <!-- JAVASCRIPT FILES -->
	 <script type="text/javascript" src="{% static 'js/plugins/plugins.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/hero.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

      
  </body>


</html>