{% load static %}
<!doctype html>

<html lang="en">

  

  <head>
  
  
      <!-- META -->
      <meta charset="utf-8">
      <meta name="robots" content="noodp">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      
      
      <!-- PAGE TITLE -->
      <title>WE ARE techAF</title>
      
      
      <!-- FAVICON -->
      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
      
      
      <!-- GOOGLE FONTS -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:300,400" rel="stylesheet">
      
      
      <!-- STYLESHEETS -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/hero.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        
            
  </head>
  
  
  
  <body>
  
     
     
      <!-- MAIN -->
      <div id="main">
              
              

          <!-- LOADING -->
		  <div id="page-loader">

			  <!-- SPINNER CONTAINER -->
			  <div class="spinner-container">

				  <div class="css-spinner"></div>

			  </div>
			  <!-- /SPINNER CONTAINER -->

		  </div>
		  <!-- /LOADING -->   
              
             
               
		  <!-- HERO -->
		  <section id="hero" class="hero hero-1">


			  <!-- FRONT CONTENT -->
			  <div class="front-content page-enter-animated">


				  <!-- CONTAINER MID -->
				  <div class="container-mid">


					  <img class="logo" src="{% static 'img/techaf_logo.png' %}" alt="logo">


					  <!-- CYCLE SLIDER WRAPPER  -->
					  <div class="cycle-wrapper">
					  
					  
						  <!-- CYCLE SLIDER -->
						  <div id="cycle">


							  <div class="slide"><h1><span> Thanks! </span><br>We got your info</h1></div>


					  
						  </div>
						  <!-- /CYCLE SLIDER -->	
				      
				          
					  </div>
					  <!-- /CYCLE SLIDER WRAPPER -->  


					  <p>We will be in touch soon.</p>


					  <!-- OPEN OVERLAY BUTTON -->
					  <div class="arrow-wrap go-down"> 


						  <!-- OPEN OVERLAY BUTTON INNER -->
						  <div class="open-overlay down-button"> 

							  <i class="ti-arrow-down"></i>
							  <i class="ti-arrow-down"></i> 

						  </div> 
						  <!-- /OPEN OVERLAY BUTTON INNER -->


					  </div>
					  <!-- /OPEN OVERLAY BUTTON -->


				  </div>
				  <!-- /CONTAINER MID -->


			  </div>
			  <!-- /FRONT CONTENT -->


			  <!-- BACKGROUND CONTENT -->
			  <div class="background-content page-enter-animated">


				  <!-- LEVEL 1 -->
				  <div class="level-1">

                  
					  <div class="bg-overlay"></div>
					  <div class="bg-pattern"></div>
					  <div id="canvas"><canvas class="bg-effect layer" data-depth="0.2"></canvas></div>
					  

				  </div>
				  <!-- /LEVEL 1 -->


				  <!-- LEVEL 2 -->
				  <div class="level-2">


					  <div class="bg-image layer" data-depth="0.04"></div>
					  <div class="bg-video layer" data-depth="0.04"></div>
					  <div class="bg-color layer" data-depth="0.04"></div>


				  </div>
				  <!-- /LEVEL 2 -->


			  </div>
			  <!-- /BACKGROUND CONTENT -->


		  </section>
		  <!-- /HERO -->



		  <!-- OVERLAY CONTAINER -->    
		  <div id="overlay">


			  <!-- OVERLAY-1 -->
			  <section class="overlay">


				  <!-- CONTENT -->
				  <div id="about" class="content">


					  <!-- CONTAINER MID -->
					  <div class="container-mid">


						  <!-- CONTAINER -->
						  <div class="container">


							  <h1>Are You techAF?</h1>

							  <h5>
							  techAF is a dope community of developers and founders who are building tech solutions for Africa.            
                              </h5>


                              <!-- FORM -->
                            
                              <h3>We have received your information and will be in touch soon!</h3>
                              
							  <!-- /FORM -->


							  <!-- SOCIAL LINKS -->
							  <ul class="social-icons">


							
								  <li><a data-placement="bottom" title="Twitter" class="ti-twitter-alt" href="https://twitter.com/we_are_techAF"><div class="overlay"></div></a></li>
								  <li><a data-placement="bottom" title="Contact" class="fa fa-envelope go-down" href="mailto:connect@techaf.co"><div class="overlay"></div></a></li>


							  </ul>
							  <!-- /SOCIAL LINKS -->


						   </div>
						   <!-- /CONTAINER -->


					  </div>
					  <!-- /CONTAINER MID -->


				  </div>
				  <!-- /CONTENT -->


			  </section>
			  <!-- /OVERLAY-1 -->


			  <!-- OVERLAY-2 -->
			  <section class="overlay">


				  <!-- CONTENT -->
				  <div id="contact" class="content">


					  <!-- CONTAINER MID -->
					  <div class="container-mid">


						  <!-- CONTAINER -->
						  <div class="container">


							  <h1>techAF Podcast</h1>

							  <h5>
                              The techAF Podcast will be launching December 1st, 2020. If you would like to be a guest on the podcast, connet with us via email 
                              <a class="fa fa-envelope go-down" href="mailto:connect@techaf.co"> Reach Out Here.</a>
                              </h5>

						  </div>
						  <!-- /CONTAINER -->


					  </div>
					  <!-- /CONTAINER MID -->


				  </div>
				  <!-- /CONTENT -->


			  </section>
			  <!-- /OVERLAY-2 -->

		  
			  <!-- OVERLAY BACK BUTTON --> 
			  <div class="up-button go-up"><i class="ti-arrow-up"></i><i class="ti-arrow-up"></i></div>
			  <!-- /OVERLAY BACK BUTTON -->  
			  
		  
		  </div>
		  <!-- /OVERLAY CONTAINER --> 
          
          
          
      </div>
      <!-- MAIN -->
      
      
        
      <!-- JAVASCRIPT FILES -->
      <script type="text/javascript" src="{% static 'js/plugins/plugins.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/hero.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
      
      
      
  </body>



</html>