<!doctype html>

<html lang="en">

  

  <head>
  
  
      <!-- META -->
      <meta charset="utf-8">
      <meta name="robots" content="noodp">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      
      
      <!-- PAGE TITLE -->
      <title>Gravity - Coming Soon / Under Construction</title>
      
      
      <!-- FAVICON -->
      <link rel="shortcut icon" href="assets/favicon.ico">
      
      
      <!-- GOOGLE FONTS -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:300,400" rel="stylesheet">
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
      
      <!-- STYLESHEETS -->
      <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
      <link rel="stylesheet" type="text/css" href="assets/css/hero.css">
      <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
        
            
  </head>
  
  
  
  <body>
  
     {{ svg_code|safe }}

      
  </body>



</html>