{% load static %}
<!doctype html>

<html lang="en">

  
      <!-- META -->
      <meta charset="utf-8">
      <meta name="robots" content="noodp">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <meta name="title" content="Dropping Gems NFT">
		<meta name="author" content="Dropping Gems NFT">
		<meta name="description" content="A Dynamic NFT that changes as you tweet">
		<meta name="keywords" content="ethereum, NFT, dynamic, generative" />
		<link rel="canonical" href="www.gemsNFT.co">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="www.gemsNFT.co">
		<meta property="og:title" content="Dropping Gems NFT">
		<meta property="og:description" content="A Dynamic NFT that changes as you tweet">
		<meta property="og:image" content="www.gemsNFT.co">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="www.gemsNFT.co">
		<meta property="twitter:title" content="DroppingGems NFT">
		<meta property="twitter:description" content="A Dynamic NFT that changes as you tweet">
		<meta property="twitter:image" content="{{ base_code|safe }}">

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/gem-small.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/gem-small.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/gem-small.png' %}">
		<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
		<script charset="utf-8"
		  src="https://cdn.ethers.io/scripts/ethers-v4.min.js"
		  type="text/javascript">
	  </script>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
      <!-- PAGE TITLE -->
      <title>Learn More</title>
      
      
            <!-- FAVICON -->
			<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
      
      
			<!-- GOOGLE FONTS -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:300,400" rel="stylesheet">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	   
			<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
			
			
			<!-- STYLESHEETS -->
			<link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/hero.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
			  
				  
            
  </head>
  
  
  <body>
  
  
  
	  <!-- MAIN -->
      <div id="main">
		    
             
              
              
              
		  <!-- HERO -->
		  <section id="hero" class="hero error-404">
            
     

			  <!-- FRONT CONTENT -->
			  <div class="front-content show">
				

				  <!-- CONTAINER MID -->
				  <div class="container-mid">
					<a href="{% url 'homepage' %}" type="button" class="btn btn-primary absolute top-0 left-0 pt-3">Back to Home</a>
           
                    <div>
						<h2>DroppingGems - Colored with Sentiment Analysis</h2>
						<h5>A gem’s color is determined by the overall moods and attitudes expressed by the owner. The colors of the Gem change as the owner tweets. (Mood Gem)  </h5>
						<p>***You can decide to reveal your twitter handle in the name of your gem or keep it anon. You can also reset your gem's twitter connection.***</p>
                
                      </div>
				  
                    <div class="relative py-16 overflow-hidden">
								
                <div class="py-16 bg-gray-50 overflow-hidden">
                <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
					{% for token in gems %}
					
                    <li class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200">
						{% if token.1.twitter %}
						<a type="button" class="btn btn-primary" class="twitter-share-button"
						href="https://twitter.com/intent/tweet?text=I'm%20dropping%20gems%20%40DroppingGemsNFT%20https%3A%2F%2Fwww.gemsNFT.co%2Fgem-preview%2F{{token.0.metaID}}" target= "_blank">
						Share Gem</a>
						{% endif %}
                        <div class="flex-1 flex flex-col p-8">
                        <img class="w-45 h-45 flex-shrink-0 mx-auto rounded-full" src="{{token.0.image|safe}}" alt="">
                        <h3 class="mt-6 text-black text-lg font-medium">{{ token.0.name }}</h3>
                        <dl class="mt-1 flex-grow flex flex-col justify-between">
                        
                            <dd class="text-black text-lg">{{ token.0.description }}</dd>
							{% if token.1.twitter %}
							<dd class="text-black text-3x">Connected to: @{{ token.1.twitter}}</dd>
							{% endif %}
                        </dl>
                        </div>
                        <div>
			
							
						
								
								
								
							<div class="btn-group" role="group" aria-label="Basic example">
									{% if token.1.twitter %}
										{% if token.0.is_anon %}  
										<a href="{% url 'my_gems_anon' 0 token.0.metaID wallet_addy token.1.id token.1.twitter_ref %}" title="Your Twitter Handle will be revealed in Gem Name"  type="button" style="white-space: normal;" class="btn btn-block btn-danger btn-sm col-12 col-md-6">Hidden</a>
										{% else %}
										<a href="{% url 'my_gems_anon' 1 token.0.metaID wallet_addy token.1.id token.1.twitter_ref %}" title="Your Twitter Handle will not be in the Name of the Gem" type="button"  style="white-space: normal;" class="btn btn-block btn-success btn-sm col-12 col-md-6">
											
											Revealed</a>
										
										{% endif %}
										<a href="{% url 'my_gems_reset' token.0.metaID wallet_addy token.1.id token.1.twitter_ref %}" title="Removes Twitter Connection of Gem" type="button"  class="btn btn-block btn-secondary btn-sm col-12 col-md-6">Reset Gem</a>
									{% else %}
										
										<a href="{% url 'twitter-login-redirect' %}" type="button" class="btn btn-block btn-primary col-12">Connect Twitter</a>

									{% endif %}
						
							</div>
											
						
                        </div>
                    </li>
					{% empty %}
					<div class="h-56 flex justify-center content-center ...">
				
						<li class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200">
					
						<h3 class="mt-6 text-black text-lg font-medium">You have no Gems Minted</h3>
						<a href="{% url 'mint' %}" type="button" class="btn btn-primary">Mint a Gem</a>
						</li>
					</div>
                    {% endfor %}
                    <!-- More people... -->
                    </ul>
                </div>
				
				<div class="max-w-7xl mx-auto py-16 px-4">
					<h2>Color Chart Explainations</h2>
				<h5 class="text-left"><span class="text-orange-600">Orange:</span> You shared factual information that can be seen as Negative or Pessimistic. You are dropping Tea!</h5>
				<h5 class="text-left"><span class="text-red-600">Red: </span> You shared a spicy opinion or story. Can you say STORYTIME</h5>
				<h5 class="text-left"><span class="text-yellow-600">Yellow: </span> Balanced Neutral Information. You are a regular reporter.</h5>
				<h5 class="text-left"><span class="text-pink-600">Pink: </span> Balanced storytime. You like to show both sides</h5>
				
				<h5 class="text-left"><span class="text-green-600">Green: </span> You share positive and factual information about the world. A great place for people to learn.</h5>
				<h5 class="text-left"><span class="text-blue-600">Blue: </span> You share your positive joyful opinions. Keep spreading Love</h5>

					<img  class="mx-auto" src="{% static 'images/color-banner1.png' %}" alt="">

				</div>	
                      
                      </div>
			  
				  </div>
				  <!-- /CONTAINER MID -->


			  </div>
			  <!-- /FRONT CONTENT -->


			  <!-- BACKGROUND CONTENT -->
			  <div class="background-content page-enter-animated">


				  <!-- LEVEL 1 -->
				  <div class="level-1">

				  
					  <div class="bg-overlay"></div>
					  <div class="bg-pattern"></div>
					  <div id="canvas"><canvas class="bg-effect layer" data-depth="0.2"></canvas></div>

			  
				  </div>
				  <!-- /LEVEL 1 -->


				  <!-- LEVEL 2 -->
				  <div class="level-2">

				  
					  <div class="bg-image layer" data-depth="0.04"></div>
					  <div class="bg-video layer" data-depth="0.04"></div>
					  <div class="bg-color layer" data-depth="0.04"></div>

			  
				  </div>
				  <!-- /LEVEL 2 -->


			  </div>
			  <!-- /BACKGROUND CONTENT -->


		  </section>
		  <!-- /HERO -->
          
          
      </div>
      <!-- MAIN -->
      
      <!-- JAVASCRIPT FILES -->
      <script type="text/javascript" src="{% static 'js/plugins/plugins.js' %}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	  <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
	  <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
	  <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
	  <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
	  <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
	  <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	  <script>
		  "use strict";

		/**
		 * Example JavaScript code that interacts with the page and Web3 wallets
		 */

		// Unpkg imports

		const Web3Modal = window.Web3Modal.default;
		const WalletConnectProvider = window.WalletConnectProvider.default;
		const Fortmatic = window.Fortmatic;
		const evmChains = window.evmChains;
		var account = null;
		var contract = null;
		
		const CONTRACT_ADDRESS = "0x0B5DdEFf4D54C1B1eE635657C17cF54135e5DB30";

		window.userWalletAddress = null 

			
		// Web3modal instance
		let web3Modal

		// Chosen wallet provider given by the dialog window
		let provider;


		// Address of the selected account
		let selectedAccount;


		/**
		 * Setup the orchestra
		 */
		function init() {
		
		// Check that the web page is run in a secure context,
		// as otherwise MetaMask won't be available
		//if(location.protocol !== 'https:') {
			// https://ethereum.stackexchange.com/a/62217/620
			//const alert = document.querySelector("#alert-error-https");
		// alert.style.display = "block";
			//document.querySelector("#btn-connect").setAttribute("disabled", "disabled")
		//return;
		//}

		// Tell Web3modal what providers we have available.
		// Built-in web browser provider (only one can exist as a time)
		// like MetaMask, Brave or Opera is added automatically by Web3modal
		const providerOptions = {
			walletconnect: {
			package: WalletConnectProvider,
			options: {
				// Mikko's test key - don't copy as your mileage may vary
				infuraId: "5e150792adde4a1987fd58e73e20bfc4",
				qrcodeModalOptions: {
				mobileLinks: [
					"rainbow",
					"metamask",
					"argent",
					"trust",
					"imtoken",
					"pillar",
				],
				},
			}
			},

		};


		web3Modal = new Web3Modal({
			cacheProvider: false, // optional
			providerOptions, // required
			disableInjectedProvider: false, // optional. For MetaMask / Brave / Opera.
		});

		
		}

		async function loadContract() {
		const web3 = new Web3(provider);
		const contract = await new web3.eth.Contract([
		{
		"inputs": [
		{
		"internalType": "string",
		"name": "baseURI",
		"type": "string"
		},
		{
		"internalType": "address",
		"name": "_tranferWallet",
		"type": "address"
		}
		],
		"stateMutability": "nonpayable",
		"type": "constructor"
		},
		{
		"anonymous": false,
		"inputs": [
		{
		"indexed": true,
		"internalType": "address",
		"name": "owner",
		"type": "address"
		},
		{
		"indexed": true,
		"internalType": "address",
		"name": "approved",
		"type": "address"
		},
		{
		"indexed": true,
		"internalType": "uint256",
		"name": "tokenId",
		"type": "uint256"
		}
		],
		"name": "Approval",
		"type": "event"
		},
		{
		"anonymous": false,
		"inputs": [
		{
		"indexed": true,
		"internalType": "address",
		"name": "owner",
		"type": "address"
		},
		{
		"indexed": true,
		"internalType": "address",
		"name": "operator",
		"type": "address"
		},
		{
		"indexed": false,
		"internalType": "bool",
		"name": "approved",
		"type": "bool"
		}
		],
		"name": "ApprovalForAll",
		"type": "event"
		},
		{
		"anonymous": false,
		"inputs": [
		{
		"indexed": true,
		"internalType": "uint256",
		"name": "id",
		"type": "uint256"
		}
		],
		"name": "GemDropped",
		"type": "event"
		},
		{
		"anonymous": false,
		"inputs": [
		{
		"indexed": true,
		"internalType": "address",
		"name": "previousOwner",
		"type": "address"
		},
		{
		"indexed": true,
		"internalType": "address",
		"name": "newOwner",
		"type": "address"
		}
		],
		"name": "OwnershipTransferred",
		"type": "event"
		},
		{
		"anonymous": false,
		"inputs": [
		{
		"indexed": true,
		"internalType": "address",
		"name": "from",
		"type": "address"
		},
		{
		"indexed": true,
		"internalType": "address",
		"name": "to",
		"type": "address"
		},
		{
		"indexed": true,
		"internalType": "uint256",
		"name": "tokenId",
		"type": "uint256"
		}
		],
		"name": "Transfer",
		"type": "event"
		},
		{
		"inputs": [],
		"name": "MAX_TOKENS",
		"outputs": [
		{
		"internalType": "uint256",
		"name": "",
		"type": "uint256"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "to",
		"type": "address"
		},
		{
		"internalType": "uint256",
		"name": "tokenId",
		"type": "uint256"
		}
		],
		"name": "approve",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "owner",
		"type": "address"
		}
		],
		"name": "balanceOf",
		"outputs": [
		{
		"internalType": "uint256",
		"name": "",
		"type": "uint256"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [],
		"name": "baseTokenURI",
		"outputs": [
		{
		"internalType": "string",
		"name": "",
		"type": "string"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "uint256",
		"name": "tokenId",
		"type": "uint256"
		}
		],
		"name": "getApproved",
		"outputs": [
		{
		"internalType": "address",
		"name": "",
		"type": "address"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "owner",
		"type": "address"
		},
		{
		"internalType": "address",
		"name": "operator",
		"type": "address"
		}
		],
		"name": "isApprovedForAll",
		"outputs": [
		{
		"internalType": "bool",
		"name": "",
		"type": "bool"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "_to",
		"type": "address"
		},
		{
		"internalType": "uint256",
		"name": "_count",
		"type": "uint256"
		}
		],
		"name": "mint",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
		},
		{
		"inputs": [],
		"name": "name",
		"outputs": [
		{
		"internalType": "string",
		"name": "",
		"type": "string"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [],
		"name": "owner",
		"outputs": [
		{
		"internalType": "address",
		"name": "",
		"type": "address"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "_to",
		"type": "address"
		},
		{
		"internalType": "uint256",
		"name": "_count",
		"type": "uint256"
		}
		],
		"name": "ownerMintTransfer",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "uint256",
		"name": "tokenId",
		"type": "uint256"
		}
		],
		"name": "ownerOf",
		"outputs": [
		{
		"internalType": "address",
		"name": "",
		"type": "address"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [],
		"name": "renounceOwnership",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "from",
		"type": "address"
		},
		{
		"internalType": "address",
		"name": "to",
		"type": "address"
		},
		{
		"internalType": "uint256",
		"name": "tokenId",
		"type": "uint256"
		}
		],
		"name": "safeTransferFrom",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "from",
		"type": "address"
		},
		{
		"internalType": "address",
		"name": "to",
		"type": "address"
		},
		{
		"internalType": "uint256",
		"name": "tokenId",
		"type": "uint256"
		},
		{
		"internalType": "bytes",
		"name": "_data",
		"type": "bytes"
		}
		],
		"name": "safeTransferFrom",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "operator",
		"type": "address"
		},
		{
		"internalType": "bool",
		"name": "approved",
		"type": "bool"
		}
		],
		"name": "setApprovalForAll",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "string",
		"name": "baseURI",
		"type": "string"
		}
		],
		"name": "setBaseURI",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "_tranferWallet",
		"type": "address"
		}
		],
		"name": "setTransferWallet",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "bytes4",
		"name": "interfaceId",
		"type": "bytes4"
		}
		],
		"name": "supportsInterface",
		"outputs": [
		{
		"internalType": "bool",
		"name": "",
		"type": "bool"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [],
		"name": "symbol",
		"outputs": [
		{
		"internalType": "string",
		"name": "",
		"type": "string"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "uint256",
		"name": "tokenId",
		"type": "uint256"
		}
		],
		"name": "tokenURI",
		"outputs": [
		{
		"internalType": "string",
		"name": "",
		"type": "string"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "_owner",
		"type": "address"
		}
		],
		"name": "tokensOfOwner",
		"outputs": [
		{
		"internalType": "uint256[]",
		"name": "ownerTokens",
		"type": "uint256[]"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [],
		"name": "totalSupply",
		"outputs": [
		{
		"internalType": "uint256",
		"name": "",
		"type": "uint256"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "from",
		"type": "address"
		},
		{
		"internalType": "address",
		"name": "to",
		"type": "address"
		},
		{
		"internalType": "uint256",
		"name": "tokenId",
		"type": "uint256"
		}
		],
		"name": "transferFrom",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
		},
		{
		"inputs": [
		{
		"internalType": "address",
		"name": "newOwner",
		"type": "address"
		}
		],
		"name": "transferOwnership",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
		},
		{
		"inputs": [],
		"name": "transferWallet",
		"outputs": [
		{
		"internalType": "address",
		"name": "",
		"type": "address"
		}
		],
		"stateMutability": "view",
		"type": "function"
		},
		{
		"inputs": [],
		"name": "withdrawAll",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
		}
		], '0x0B5DdEFf4D54C1B1eE635657C17cF54135e5DB30');

		
		return contract
		}

		/**
		* Kick in the UI action after Web3modal dialog has chosen a provider
		*/
		async function fetchAccountData() {

		// Get a Web3 instance for the wallet
		const web3 = new Web3(provider);

		

		// Get connected chain id from Ethereum node
		const chainId = await web3.eth.getChainId();
		// Load chain information over an HTTP API
		const chainData = evmChains.getChain(chainId);

		// Get list of accounts of the connected wallet
		const accounts = await web3.eth.getAccounts();
		
		window.contract = await loadContract();
		// MetaMask does not give you all accounts, only the selected account
		
		selectedAccount = accounts[0];
		if (!selectedAccount) { return }
			if (chainId == 1) {
				window.userWalletAddress = accounts[0]
				if (window.userWalletAddress) {
				const wallet_addy = "{{ wallet_addy|safe }}"
				const twitterId = "{{ twitterId|safe }}"
				const twitterRef = "{{twitterRef|safe}}"
					if (wallet_addy === "none") { 
						var url = "/my-gems/" + window.userWalletAddress + "/" + twitterId + "/" + twitterRef
						window.location.replace(url);
					}
				}
			} else {
				alert("Please, Switch to Ethereum");
			}
			
		// Because rendering account does its own RPC commucation
		// with Ethereum node, we do not want to display any results
		// until data for all accounts is loaded
		}



		async function refreshAccountData() {
 	
		await fetchAccountData(provider);
		}

		/**
		* Connect wallet button pressed.
		*/
	async function onConnect() {
		provider = await detectEthereumProvider()
		console.log("one", provider)
		if (!provider) {
			try {
			provider = await web3Modal.connect();
			} catch(e) {
				
				return;
			}
		}
		
		
		// Subscribe to accounts change
		provider.on("accountsChanged", (accounts) => {
			fetchAccountData();
		});

		// Subscribe to chainId change
		provider.on("chainChanged", (chainId) => {
			fetchAccountData();
		});

		// Subscribe to networkId change
		provider.on("networkChanged", (networkId) => {
			fetchAccountData();
		});

		await refreshAccountData();
		document.querySelector("#view-gems").style.display = "block";

		}


		async function onDisconnect() {

		

		// TODO: Which providers have close method?
		if(provider.close) {
			await provider.close();

			// If the cached provider is not cleared,
			// WalletConnect will default to the existing session
			// and does not allow to re-scan the QR code with a new wallet.
			// Depending on your use case you may want or want not his behavir.
			await web3Modal.clearCachedProvider();
			provider = null;
		}

		selectedAccount = null;

		
}
	  </script>
	  <script>
		window.addEventListener('load', async () => {

		init();
		onConnect();
		});

	  </script>

	  
  </body>


</html>